{% extends "base.html" %}

{% block title %}班级信息{% endblock %}

{% block main %}
    <div class="container">
        <div class="table-responsive" style="padding-top: 30px">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>考试标题</th>
                    <th>所属课程</th>
                    <th>学生</th>
                    <th>创建时间</th>
                    <th>创建人</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for exam in exams %}
                    <tr>
                        <td class="exam_id">{{ exam.id }}</td>
                        <td>{{ exam.title }}</td>
                        <td>{{ exam.course.name }}</td>
                        <td>{{ exam.student.username }}</td>
                        <td>{{ exam.create_at }}</td>
                        <td>{{ exam.create_by.username }}</td>
                        <td>
                            <button class="btn btn-info detail_show">修改此记录</button>
                            <button class="btn btn-danger delete" style="margin-left: 10px">删除此记录</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% if detail_exam %}
            <div class="row" style="margin-top: 50px">
                <div class="col-lg-6">
                    <form role="form" action="{{ url('exam') }}" method="post">
                        {{ csrf_input }}
                        <input type="hidden" name="exam_id" value="{{ detail_exam.id }}"/>
                        <div class="form-group">
                            <label for="exam_title">考试标题</label>
                            <input type="text" class="form-control" id="exam_title"
                                   value="{{ detail_exam.title }}" name="exam_title">
                        </div>
                        <div class="form-group">
                            <label for="role">所属课程</label>
                            <select id="role" name="course_id" class="form-control">
                                {% for course in courses %}
                                    <option value="{{ course.id }}">{{ course.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="role">指定学生</label>
                            <select id="role" name="student_id" class="form-control">
                                {% for student in students %}
                                    <option value="{{ student.id }}">{{ student.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="create_at">创建时间（不可更改）</label>
                            <input type="text" class="form-control" id="create_at"
                                   placeholder="{{ detail_exam.create_at }}" name="create_at" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label for="role">创建人</label>
                            <select id="role" name="admin_id" class="form-control">
                                {% for admin in admins %}
                                    <option value="{{ admin.id }}">{{ admin.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div style="margin-top: 20px">
                            <button type="submit" class="btn btn-info" style="width: 100px;">确认
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6"></div>
            </div>
        {% endif %}
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".delete").click(function () {
                alert("存在关联信息的数据不可删除");
            });

            $(".detail_show").click(function () {
                var exam_id = $(this).parent().parent().find(".exam_id").text();
                redirect_url = "/exam/exam/?exam_id=" + exam_id;
                window.location.href = redirect_url;
            });
        });
    </script>
{% endblock %}
