{% extends "base.html" %}

{% block title %}专业信息{% endblock %}

{% block main %}
    <div class="container">
        <div class="table-responsive" style="padding-top: 30px">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>专业名称</th>
                    <th>所属学院</th>
                    <th>创建时间</th>
                    <th>创建人</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for marjor in majors %}
                    <tr>
                        <td class="major_id">{{ marjor.id }}</td>
                        <td>{{ marjor.name }}</td>
                        <td>{{ marjor.institute.name }}</td>
                        <td>{{ marjor.create_at }}</td>
                        <td>{{ marjor.create_by.username }}</td>
                        <td>
                            <button class="btn btn-info detail_show">修改此记录</button>
                            <button class="btn btn-danger delete" style="margin-left: 10px">删除此记录</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% if detail_major %}
            <div class="row" style="margin-top: 50px">
                <div class="col-lg-6">
                    <form role="form" action="{{ url('major_info') }}" method="post">
                        {{ csrf_input }}
                        <input type="hidden" name="hidden_id" value="{{ detail_major.id }}"/>
                        <div class="form-group">
                            <label for="major_name">专业名称</label>
                            <input type="text" class="form-control" id="major_name"
                                   value="{{ detail_major.name }}" name="major_name">
                        </div>
                        <div class="form-group">
                            <label for="role">所在学院</label>
                            <select id="role" name="institute_id" class="form-control">
                                {% for institute in institutes %}
                                    <option value="{{ institute.id }}">{{ institute.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="create_at">创建时间（不可更改）</label>
                            <input type="text" class="form-control" id="create_at"
                                   placeholder="{{ detail_major.create_at }}" name="create_at" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label for="role">创建人</label>
                            <select id="role" name="admin_id" class="form-control">
                                {% for admin in admins %}
                                    <option value="{{ admin.id }}">{{ admin.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div style="margin-top: 20px">
                            <button type="submit" class="btn btn-info" style="width: 100px;">确认
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6"></div>
            </div>
        {% endif %}
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".delete").click(function () {
                alert("存在关联信息的数据不可删除");
            });

            $(".detail_show").click(function () {
                var major_id = $(this).parent().parent().find(".major_id").text();
                redirect_url = "/info/major/?major_id=" + major_id;
                window.location.href = redirect_url;
            });
        });
    </script>
{% endblock %}
