{% extends "base.html" %}

{% block title %}学生信息{% endblock %}

{% block main %}
    <div class="container">
        <div class="table-responsive" style="padding-top: 30px">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>学生姓名</th>
                    <th>所属班级</th>
                    <th>创建时间</th>
                    <th>创建人</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr>
                        <td class="student_id">{{ student.id }}</td>
                        <td>{{ student.username }}</td>
                        <td>{{ student.the_class.name }}</td>
                        <td>{{ student.create_at }}</td>
                        <td>{{ student.create_by.username }}</td>
                        <td>
                            <button class="btn btn-info detail_show">修改此记录</button>
                            <button class="btn btn-danger delete" style="margin-left: 10px">删除此记录</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% if detail_student %}
            <div class="row" style="margin-top: 50px">
                <div class="col-lg-6">
                    <form role="form" action="{{ url('student_info') }}" method="post">
                        {{ csrf_input }}
                        <input type="hidden" name="student_id" value="{{ detail_student.id }}"/>
                        <input type="hidden" name="type" value=""/>
                        <div class="form-group">
                            <label for="student_name">学生姓名</label>
                            <input type="text" class="form-control" id="student_name"
                                   value="{{ detail_student.username }}" name="student_name">
                        </div>
                        <div class="form-group">
                            <label for="role">所在班级</label>
                            <select id="role" name="class_id" class="form-control">
                                {% for class in classes %}
                                    <option value="{{ class.id }}">{{ class.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="create_at">创建时间（不可更改）</label>
                            <input type="text" class="form-control" id="create_at"
                                   placeholder="{{ detail_student.create_at }}" name="create_at" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label for="role">创建人</label>
                            <select id="role" name="admin_id" class="form-control">
                                {% for admin in admins %}
                                    <option value="{{ admin.id }}">{{ admin.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div style="margin-top: 20px">
                            <button type="submit" class="btn btn-info" style="width: 100px;">确认
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6"></div>
            </div>
        {% endif %}
    </div>
    {{ csrf_input }}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".delete").click(function () {
                var student_id = $(this).parent().parent().find(".student_id").text();
                var csrf_key = $("input[name$='csrfmiddlewaretoken']").attr("value");
                var data = {"csrfmiddlewaretoken": csrf_key, "student_id": student_id, "type": "delete"};
                $.post("/info/student/", data, function (result) {
                    alert(result);
                });
                redirect_url = "/info/student";
                window.location.href = redirect_url;
            });

            $(".detail_show").click(function () {
                var student_id = $(this).parent().parent().find(".student_id").text();
                redirect_url = "/info/student/?student_id=" + student_id;
                window.location.href = redirect_url;
            });
        });
    </script>
{% endblock %}
