{% extends "base.html" %}

{% block title %}教师信息{% endblock %}

{% block main %}
    <div class="container">
        <div class="table-responsive" style="padding-top: 30px">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>班级名称</th>
                    <th>所属专业</th>
                    <th>创建时间</th>
                    <th>创建人</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for a_class in classes %}
                    <tr>
                        <td class="class_id">{{ a_class.id }}</td>
                        <td>{{ a_class.name }}</td>
                        <td>{{ a_class.major.name }}</td>
                        <td>{{ a_class.create_at }}</td>
                        <td>{{ a_class.create_by.username }}</td>
                        <td>
                            <button class="btn btn-info detail_show">修改此记录</button>
                            <button class="btn btn-danger delete" style="margin-left: 10px">删除此记录</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% if detail_class %}
            <div class="row" style="margin-top: 50px">
                <div class="col-lg-6">
                    <form role="form" action="{{ url('class_info') }}" method="post">
                        {{ csrf_input }}
                        <input type="hidden" name="hidden_id" value="{{ detail_class.id }}"/>
                        <div class="form-group">
                            <label for="class_name">班级名称</label>
                            <input type="text" class="form-control" id="class_name"
                                   value="{{ detail_class.name }}" name="class_name">
                        </div>
                        <div class="form-group">
                            <label for="role">所在专业</label>
                            <select id="role" name="major_id" class="form-control">
                                {% for major in majors %}
                                    <option value="{{ major.id }}">{{ major.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="create_at">创建时间（不可更改）</label>
                            <input type="text" class="form-control" id="create_at"
                                   placeholder="{{ detail_class.create_at }}" name="create_at" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label for="role">创建人</label>
                            <select id="role" name="admin_id" class="form-control">
                                {% for admin in admins %}
                                    <option value="{{ admin.id }}">{{ admin.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div style="margin-top: 20px">
                            <button type="submit" class="btn btn-info" style="width: 100px; margin-left: 5px">确认
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6"></div>
            </div>
        {% endif %}
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".delete").click(function () {
                alert("存在关联信息的数据不可删除");
            });

            $(".detail_show").click(function () {
                var class_id = $(this).parent().parent().find(".class_id").text();
                redirect_url = "/info/class/?class_id=" + class_id;
                window.location.href = redirect_url;
            });
        });
    </script>
{% endblock %}
