{% extends "base.html" %}

{% block title %}密码修改{% endblock %}

{% block main %}
    <div class="container">
        <div class="row" style="padding-top: 20px">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <form role="form" action="{{ url('change_password') }}" method="post">
                    {{ csrf_input }}
                    <div class="form-group">
                        <label for="old_password">原密码</label>
                        <input type="password" class="form-control" id="old_password"
                               placeholder="请输入原密码" name="old_password">
                    </div>
                    <div class="form-group">
                        <label for="new_password">新密码</label>
                        <input type="password" class="form-control" id="new_password"
                               placeholder="请输入新密码，至少8个字符" name="new_password">
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">再次确认密码密码</label>
                        <input type="password" class="form-control" id="confirm_password"
                               placeholder="请再次输入新密码" name="confirm_password">
                    </div>
                    <div style="margin-top: 20px">
                        <button type="submit" class="btn btn-info" style="width: 100px; margin-left: 5px">确认</button>
                        <button type="reset" class="btn btn-default" style="width: 100px; margin-left: 10px">重置</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
{% endblock %}
