{% extends "base.html" %}

{% block title %}登录{% endblock %}

{% block main %}
    <div class="container">
        {% if check_authenticated %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <strong>注意 ！</strong> 您必须登录后才可使用此功能, 系统已经自动将您带到登录界面。
            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <form role="form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">用户名</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="请输入用户名">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">密码</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入密码">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> 记住我的登录状态
                        </label>
                        <p style="display: inline-block; float: right; padding-right: 5px">
                            <a href="#">忘记密码？通过邮件找回</a>
                        </p>
                    </div>
                    <div style="margin-top: 20px">
                        <button type="submit" class="btn btn-info" style="width: 100px; margin-left: 5px">登录</button>
                        <button type="reset" class="btn btn-default" style="width: 100px; margin-left: 10px">重置</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
{% endblock %}
