{% extends "base.html" %}

{% block title %}个人信息{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h1>{{ data['username'] }}</h1>
                <h1>{{ data['role'] }}</h1>
                <h1>{{ data['create_by'] }}</h1>
                <h1>{{ data['create_at'] }}</h1>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
{% endblock %}
